In [3]:
import pandas as pd

In [4]:
probasA = pd.read_csv('predict_probas/xgb_baseline.csv', index_col='building_id')
probasB = pd.read_csv('predict_probas/xgb_short1_ambos_geos.csv', index_col='building_id')
probasC = pd.read_csv('predict_probas/lightGBM.csv', index_col='building_id')
probasD = pd.read_csv('predict_probas/catboost_2000_iterations.csv', index_col='building_id')
probasE = pd.read_csv('predict_probas/knn_sin_outliers43.csv', index_col='building_id')

In [ ]:
 {"peso_baseline": 4.219716801624352, "peso_lgbm": 2.39216802199134, "peso_short1": 3.411887326897567},

In [5]:
pesoA = 4.219716801624352
pesoB = 3.411887326897567
pesoC = 2.39216802199134
pesoD = 1
pesoE = 0

In [6]:
merged = probasA.merge(probasB, right_index=True, left_index=True)\
        .merge(probasC, right_index=True, left_index=True)\
        .merge(probasD, right_index=True, left_index=True)\
        .merge(probasE, right_index=True, left_index=True)

In [7]:
merged

,A1,A2,A3,B1,B2,B3,C1,C2,C3,D1,D2,D3,E1,E2,E3
building_id,,,,,,,,,,,,,,,
300051,0.000780,0.331764,0.667456,0.001447,0.179194,0.819359,0.005105,0.200623,0.794272,0.002898,0.170795,0.826307,0.000000,0.000000,1.000000
99355,0.000370,0.918881,0.080749,0.000085,0.999747,0.000168,0.000024,0.999803,0.000173,0.000513,0.996017,0.003469,0.000000,1.000000,0.000000
890251,0.002469,0.688705,0.308826,0.000794,0.008592,0.990614,0.005219,0.010020,0.984760,0.008463,0.040695,0.950842,0.000000,0.000000,1.000000
745817,0.610141,0.389605,0.000254,0.646447,0.353053,0.000500,0.624295,0.375544,0.000161,0.676872,0.322624,0.000504,0.522753,0.477247,0.000000
421793,0.001014,0.283388,0.715598,0.000286,0.170128,0.829586,0.000255,0.193208,0.806537,0.000392,0.165270,0.834338,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,0.128420,0.816672,0.054907,0.053498,0.897182,0.049320,0.030109,0.923390,0.046501,0.056889,0.888797,0.054314,0.000000,1.000000,0.000000
663567,0.000363,0.661962,0.337675,0.000324,0.388023,0.611653,0.000068,0.311907,0.688025,0.000397,0.191132,0.808472,0.000000,0.000000,1.000000
1049160,0.033297,0.743029,0.223674,0.035169,0.951833,0.012998,0.037822,0.954728,0.007451,0.050840,0.906344,0.042815,0.000000,1.000000,0.000000
442785,0.002030,0.820695,0.177274,0.017887,0.821603,0.160510,0.017440,0.776541,0.206019,0.030775,0.725005,0.244219,0.000000,0.934914,0.065086
501372,0.412958,0.579516,0.007526,0.517616,0.452903,0.029481,0.583444,0.373712,0.042844,0.597895,0.332965,0.069140,0.882377,0.117623,0.000000

In [8]:
merged[1] = merged.A1 * pesoA + merged.B1 * pesoB + merged.C1 * pesoC + merged.D1 * pesoD + merged.E1 * pesoE
merged[2] = merged.A2 * pesoA + merged.B2 * pesoB + merged.C2 * pesoC + merged.D2 * pesoD + merged.E2 * pesoE
merged[3] = merged.A3 * pesoA + merged.B3 * pesoB + merged.C3 * pesoC + merged.D3 * pesoD + merged.E3 * pesoE

In [9]:
merged[[1,2,3]]

                    1          2         3
building_id
300051       0.023338   2.662061  8.338373
99355        0.002422  10.676153  0.345198
890251       0.034078   3.000119  7.989575
745817       6.950516   4.069588  0.003668
421793       0.006256   2.403730  8.613786
...               ...        ...       ...
310028       0.853342   9.604913  0.565518
663567       0.003196   5.054448  5.966128
1049160      0.401815   9.573133  1.048825
442785       0.142090   8.848940  2.032742
501372       5.502205   5.217594  0.303973

[86868 rows x 3 columns]

In [10]:
prediction = merged[[1,2,3]].idxmax(axis="columns")

In [11]:
submission_format = pd.read_csv('submission_format.csv', index_col='building_id')
my_submission = pd.DataFrame(data=prediction,
                             columns=submission_format.columns,
                             index=submission_format.index)

In [12]:
my_submission.to_csv('subs/ensable_encontrador_de_pesos_001.csv')