In [1]:
import pandas as pd

In [22]:
probas1 = pd.read_csv('predict_probas/probas_prediccion_knn.csv', index_col='building_id')
probas2 = pd.read_csv('predict_probas/probas_xgb_baseline.csv', index_col='building_id')

In [14]:
score1 = 0.7348 
score2 = 0.7440

In [23]:
merged = probas1.merge(probas2, right_index=True, left_index=True)

In [24]:
merged

,proba_grado1_x,proba_grado2_x,proba_grado3_x,proba_grado1_y,proba_grado2_y,proba_grado3_y
building_id,,,,,,
300051,0.000000,0.000000,1.000000,0.000806,0.316837,0.682357
99355,0.000000,1.000000,0.000000,0.001330,0.872572,0.126098
890251,0.000000,0.000000,1.000000,0.007056,0.839004,0.153940
745817,0.522753,0.477247,0.000000,0.591165,0.407163,0.001672
421793,0.000000,0.000000,1.000000,0.001275,0.182703,0.816022
...,...,...,...,...,...,...
310028,0.000000,1.000000,0.000000,0.045149,0.802654,0.152197
663567,0.000000,0.000000,1.000000,0.002212,0.484076,0.513712
1049160,0.000000,1.000000,0.000000,0.058025,0.699507,0.242468
442785,0.000000,0.934914,0.065086,0.003877,0.821287,0.174835
501372,0.882377,0.117623,0.000000,0.486105,0.504839,0.009057

In [25]:
merged[1] = (merged.proba_grado1_x * score1 + merged.proba_grado1_y * score2)/(score1+score2)
merged[2] = (merged.proba_grado2_x * score1 + merged.proba_grado2_y * score2)/(score1+score2)
merged[3] = (merged.proba_grado3_x * score1 + merged.proba_grado3_y * score2)/(score1+score2)

In [26]:
merged

,proba_grado1_x,proba_grado2_x,proba_grado3_x,proba_grado1_y,proba_grado2_y,proba_grado3_y,1,2,3
building_id,,,,,,,,,
300051,0.000000,0.000000,1.000000,0.000806,0.316837,0.682357,0.000406,0.159404,0.840190
99355,0.000000,1.000000,0.000000,0.001330,0.872572,0.126098,0.000669,0.935890,0.063441
890251,0.000000,0.000000,1.000000,0.007056,0.839004,0.153940,0.003550,0.422112,0.574338
745817,0.522753,0.477247,0.000000,0.591165,0.407163,0.001672,0.557171,0.441987,0.000841
421793,0.000000,0.000000,1.000000,0.001275,0.182703,0.816022,0.000642,0.091920,0.907439
...,...,...,...,...,...,...,...,...,...
310028,0.000000,1.000000,0.000000,0.045149,0.802654,0.152197,0.022715,0.900713,0.076572
663567,0.000000,0.000000,1.000000,0.002212,0.484076,0.513712,0.001113,0.243544,0.755343
1049160,0.000000,1.000000,0.000000,0.058025,0.699507,0.242468,0.029193,0.848819,0.121988
442785,0.000000,0.934914,0.065086,0.003877,0.821287,0.174835,0.001951,0.877747,0.120302
501372,0.882377,0.117623,0.000000,0.486105,0.504839,0.009057,0.683008,0.312435,0.004557

In [29]:
prediction = merged[[1,2,3]].idxmax(axis="columns")

In [30]:
submission_format = pd.read_csv('submission_format.csv', index_col='building_id')
my_submission = pd.DataFrame(data=prediction,
                             columns=submission_format.columns,
                             index=submission_format.index)

In [33]:
my_submission.to_csv('ensable_knn_xgboost_baseline_001.csv')